# Credentials / Secrets
credentials/serviceAccountKey.json
*.json
!pubspec.json
!package.json
!migration_errors.json
!migration_summary.json

# Flutter/Dart build outputs
build/
.dart_tool/
.packages
.pub-cache/
.pub/
fvm_config.json

# Node modules
node_modules/
functions/node_modules/

# FVM Version Cache
.fvm/
.idea/
*.log